*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.card {
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    
    border: 2px solid red;
}

.card__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__title {
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1rem;
}

.btn {
    background: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.card__message{
    padding: 0.5rem;
    margin: 2rem;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    
}

.card__message--danger{
    background: rgb(167, 1, 1);
}

.card__message--success{
    background: rgb(0, 84, 0);
}

.card__content {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 500px;
    width: 90vw;
    max-height: 500px;
    height: 90vw;
}

.card__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    cursor: pointer;
}

.card__item:nth-of-type(1),
.card__item:nth-of-type(2),
.card__item:nth-of-type(3),
.card__item:nth-of-type(4),
.card__item:nth-of-type(5),
.card__item:nth-of-type(6){
    border-bottom: 8px solid black;
}

.card__item:nth-of-type(2),
.card__item:nth-of-type(5),
.card__item:nth-of-type(8){
    border-left: 8px solid black;
    border-right: 8px solid black;
}